@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
}

.bg-banner {
    background: url(./image/bg-banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    object-fit: contain;
}